
input[type=text],input[type=number] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
	background-image: url('img/on1.png');
	background-position: 10px 10px; 
    background-repeat: no-repeat;
    border-radius: 4px;
    box-sizing: border-box;
	text-align: center;
	
}
input[type=number] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
	background-image: url('img/passenger.png');
    border-radius: 4px;
    box-sizing: border-box;
	text-align: center;
	
}

input[type=submit] {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.forum
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}



