.backgroundfares {
  background: url(img/lond.jpg);
  border: 1px solid gray;
  width:300px;
  height:350px;
}

/*new york */
.city1 {
   background-color:#dcdcdc;
   margin: 10px;
   padding: 10px;
   width: 98%;
   height: 320px;
   border: 0px solid gray;
}

/*Dubai */
.city2 {
   background-color:#e0ffff;
   margin: 10px;
   padding: 10px;
   width: 98%;
   height: 320px;
   border: 0px solid gray;
}

/*beijing */
.city3{
   background-color:#F0E68C;
   margin: 10px;
   padding: 10px;
   width: 98%;
   height: 320px;
   border: 0px solid gray;
}
/*paris*/
.city4{
   background-color:#d8bfd8;
   margin: 10px;
   padding: 10px;
   width: 98%;
   height: 320px;
   border: 0px solid gray;
}

/*tokyo*/
.city5{
   background-color:#98fb98;
   margin: 10px;
   padding: 10px;
   width: 98%;
   height: 320px;
   border: 0px solid gray;
}
